page-login {
  ion-content {
    background-image: url("../assets/imgs/background1.png");
    background-size: cover;

    img {
      margin-left: 0;
      padding-top: 15%;
    }

    .item.item-input {
      background-color: transparent;
      color: #fff;
    }

    .invalid {
      color: #bfbfbf;
    }

    .valid {
      color: #f4f4f4;
    }
  }
}
