<ion-content padding>
  <img margin-vertical src="assets/imgs/logo3.png">
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!loginForm.controls.email.valid && blur"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid && blur"></ion-input>
    </ion-item>

    <button ion-button block margin-vertical color="light" type="submit" [disabled]="!loginForm.valid">
      Login
    </button>

  </form>

  <button ion-button block clear color="light" (click)="goToSignup()">
    Create a new account
  </button>

  <button ion-button block clear color="light" (click)="goToResetPassword()">
    I forgot my password
  </button>

  <div text-center padding-top>
    <button class="circle" ion-button icon-only clear large (click)="socialLogin('google')" *ngIf="!userProfile">
      <ion-icon name="logo-googleplus" color="dark"></ion-icon>
    </button>

    <button class="circle" ion-button icon-only clear large (click)="socialLogin('facebook')" *ngIf="!userProfile">
      <ion-icon name="logo-facebook" color="dark"></ion-icon>
    </button>

    <button class="circle" ion-button icon-only clear large (click)="socialLogin('twitter')" *ngIf="!userProfile">
      <ion-icon name="logo-twitter" color="dark"></ion-icon>
    </button>
  </div>

</ion-content>
