page-view-job {
  ul {
    padding: 0px;

    &.rating li {
      padding: 0px 0px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 15px;
      }
    }
  }

  .button-nav {
    padding-left: 0px;
  }

  .item {
    background: transparent;

  }
  #job-status {
    color: forestgreen;
  }
}
