<ion-header>

  <ion-navbar>
    <ion-title>Browse Jobs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Job List
    </ion-list-header>
    <button ion-item *ngFor="let job of jobList | async">
      <ion-icon [name]="job.type" item-start></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-md-8>
            <h2 margin-bottom>
              {{ job.title }}
            </h2>
            <h3 text-wrap>
              {{ job.description }}
            </h3>
          </ion-col>
          <ion-col col-2>
            <h3>{{ job.startingDate }}</h3>
          </ion-col>
          <ion-col col-2>
            <h3 *ngIf="job.money; else other_content">
              {{ job.money }} &euro;
            </h3>
            <ng-template #other_content><span ion-text color="light">Money is not specified</span></ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
</ion-content>
