<ion-header>
  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let userProfile of userProfile | async" no-lines>
    <ion-item>
        <ion-thumbnail item-start>
          <img *ngIf="!showSpinner; else spinner" class="avatar" [src]="profileUrl | async" (click)="changeProfilePic()">
          <ng-template #spinner>
            <div class="sk-circle">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
            </div>
          </ng-template>
        </ion-thumbnail>
        <button ion-button (click)="createProfile()">Update profile</button>
    </ion-item>
    <form [formGroup]="updateProfileForm" (submit)="createProfile(userProfile)" novalidate>
      <ion-item>
        <ion-label color="primary" floating>Name</ion-label>
        <ion-input type="text" formControlName="name" value={{userProfile.name}}></ion-input>
        <ion-icon name="create" item-right></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>Age</ion-label>
        <ion-input type="text" formControlName="age" value={{userProfile.age}}></ion-input>
        <ion-icon name="create" item-right></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>Location</ion-label>
        <ion-input type="text" formControlName="location" value={{userProfile.location}}></ion-input>
        <ion-icon name="create" item-right></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>Edit skills</ion-label>
        <ion-input type="text"></ion-input>
        <ion-icon name="create" item-right></ion-icon>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
