<ion-header>

  <ion-navbar>
    <ion-title>My jobs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini color="primary" (click)="nagivateToCreateJob()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <button ion-button block class="job-list" (click)="showjoblist()" >Job List</button>
  <div *ngFor="let myjobList of myjobList | async">

    <button text-wrap ion-item class="animation"  (click)="presentBidModal(myjobList)">
      <div class="job-head" margin-bottom>
        <h2>Title: {{ myjobList?.title}} </h2>
        <p class="description"> Starting date:{{ myjobList?.startDate}} </p>
        <p class="description"> Ending date:{{ myjobList?.endDate}} </p>
        </div>
        <div class="details">
          <ion-icon color="" float-right [name]="myjobList.type"></ion-icon>
          <h6 > Description: {{ myjobList?.description}} </h6>
          <h6 > Starting Bid:<a class="money"> {{ myjobList?.money}} &euro;</a> </h6>
          <h6 > Status:<a class="open"> {{ myjobList?.status}} </a></h6>
          <h6 > Position:<a class="provider">Provider</a> </h6>
        </div>


    </button>
  </div>
  <button ion-button block class="bid-list" (click)="showbidlist()" >Bidding List</button>
  <div *ngFor="let mybidList of mybidList | async">

    <button text-wrap ion-item  >
      <div class="job-head" margin-bottom>
        <h2> Title {{ mybidList?.title}} </h2>
        <p class="description">Starting date: {{ mybidList?.startDate}} </p>
        <p class="description"> Ending date:{{ mybidList?.endDate}} </p>
      </div>
      <ion-icon color="" float-right [name]="mybidList.type"></ion-icon>
        <h6 class="description">Proposal: {{ mybidList?.bidProposal}}  </h6>
        <h6 class="description">Money bid: <a class="money">{{ mybidList?.payRequest}} &euro;</a>  </h6>
        <h6 class="description">Status:<a class="pending"> Pending</a>  </h6>
        <h6 class="description">Position:<a class="bidder"> Bidder </a> </h6>

    </button>
  </div>
  <button ion-button block class="ongoing-list" (click)="showongoinglist()" >Job on Process</button>
  <div *ngFor="let ongoingList of ongoingList | async">

    <button text-wrap ion-item  >
      <div class="job-head" margin-bottom>
        <h2>Title: {{ ongoingList?.title}} </h2>
        <p class="description"> Time: {{ ongoingList?.time}} days left </p>

        </div>

        <ion-icon color="" float-right [name]="ongoingList.type"></ion-icon>
        <h6 > Money Offer: <a class="money">{{ ongoingList?.money}} &euro;</a> </h6>
        <h6 > Status: <a class="onprogress">On Progress</a> </h6>
        <h6 >Position: <a class="provider">Provider</a> </h6>

    </button>
  </div>
  <button ion-button block class="work-list" (click)="showcurrentlist()" >Currently Working</button>
  <div *ngFor="let workingList of workingList | async">

    <button text-wrap ion-item (click)="presentWorkingModal(workingList)" >
      <div class="job-head" margin-bottom>
        <h2>Title: {{ workingList?.title}} </h2>
        <p class="description"> Time: {{ workingList?.time}} days left </p>
        </div>
        <ion-icon color="" float-right [name]="workingList.type"></ion-icon>
        <h6 class="description"> Paymet: <a class="money">{{ workingList?.payRequest}} &euro;</a> </h6>
        <h6 class="description"> Status: <a class="onprogress">On process</a> </h6>
        <h6 class="description"> Position: <a class="worker">Worker</a> </h6>

    </button>
  </div>

  <button ion-button block class="vertify-list" (click)="vertifylist()" >Verify Job</button>
  <div *ngFor="let completedList of completedList | async">

    <button text-wrap ion-item  (click)="presentverifyModal(completedList)">
      <div class="job-head" margin-bottom>
        <h2>Title: {{ completedList?.title}} </h2>

        </div>
        <ion-icon color="" float-right [name]="completedList.type"></ion-icon>
        <h6 class="description"> Paymet: <a class="money">{{ completedList?.payRequest}} &euro;</a> </h6>
        <h6 class="description"> Status: <a class="onprogress">{{ completedList?.status}}</a> </h6>
        <h6 class="description"> Position: <a class="provider">provider</a> </h6>

    </button>
  </div>
  <div *ngFor="let uncompletedList of uncompletedList | async">

    <button text-wrap ion-item >
      <div class="job-head" margin-bottom>
        <h2>Title: {{ completedList?.title}} </h2>

        </div>
        <ion-icon color="" float-right [name]="uncompletedList.type"></ion-icon>
        <h6 class="description"> Paymet: <a class="money">{{ uncompletedList?.payRequest}} &euro;</a> </h6>
        <h6 class="description"> Status: <a class="onprogress">{{ uncompletedList?.status}}</a> </h6>
        <h6 class="description"> Position: <a class="provider">provider</a> </h6>

    </button>
  </div>
</ion-content>
