<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Jobs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge margin-bottom>
    <button ion-fab color="dark" (click)="nagivateToCreateJob()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div padding>
    <ion-segment [(ngModel)]="option">
      <ion-segment-button value="providing">
        Providing
      </ion-segment-button>
      <ion-segment-button value="seeking">
        Seeking
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="option">
    <ion-list *ngSwitchCase="'providing'">
      <!--My jobs list-->
      <button text-wrap ion-item  *ngFor="let myJob of myjobList | async" (click)="presentBidModal(myJob)">
        <ion-badge>Open</ion-badge>
        <h3> <b>{{ myJob.title }}</b> </h3>
        <p>
          <!--Money-->
          <span *ngIf="myJob.money; else noMoney"> {{ myJob.money }}&euro; </span>
          <ng-template #noMoney><span ion-text color="light">Budget is not specified</span></ng-template>
          <!--&bull;-->

          <!--Deadline-->
          <!--<span *ngIf="myJob.endDate; else noEndDate">Deadline: {{ formatDate(myJob.endDate) }}</span>-->
          <!--<ng-template #noEndDate><span ion-text>Deadline: Not specified</span></ng-template>-->
          <!--&bull;-->
        </p>
        <ion-badge class="badge-outline"><ion-icon color="primary" [name]="myJob.type"></ion-icon></ion-badge>
      </button>

      <!--Ongoing jobs list-->
      <button text-wrap ion-item  *ngFor="let ongoingJob of ongoingList | async" (click)="presentBidModal(myJob)">
        <ion-badge class="badge-success">On going</ion-badge>
        <h3> <b>{{ ongoingJob.title }}</b> </h3>
        <p>
          <!--Money-->
          <span *ngIf="ongoingJob.money; else noMoney"> {{ ongoingJob.money }}&euro; </span>
          <ng-template #noMoney><span ion-text color="light">Budget is not specified</span></ng-template>
          <!--&bull;-->

          <!--Deadline-->
          <!--<span *ngIf="myJob.endDate; else noEndDate">Deadline: {{ formatDate(myJob.endDate) }}</span>-->
          <!--<ng-template #noEndDate><span ion-text>Deadline: Not specified</span></ng-template>-->
          <!--&bull;-->
        </p>
        <ion-badge class="badge-outline"><ion-icon color="primary" [name]="ongoingJob.type"></ion-icon></ion-badge>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'seeking'">
      <!--Bidding list-->
      <button text-wrap ion-item  *ngFor="let myBid of mybidList | async" (click)="presentBidModal(myBid)">
        <ion-badge>Pending</ion-badge>
        <h3> <b>{{ myBid.title }}</b> </h3>
        <p>
          <!--Money-->
          <span *ngIf="myBid.money; else noMoney"> {{ myBid.money }}&euro; </span>
          <ng-template #noMoney><span ion-text>Budget is not specified</span></ng-template>
          <!--&bull;-->

          <!--Deadline-->
          <!--<span *ngIf="myJob.endDate; else noEndDate">Deadline: {{ formatDate(myJob.endDate) }}</span>-->
          <!--<ng-template #noEndDate><span ion-text>Deadline: Not specified</span></ng-template>-->
          <!--&bull;-->
        </p>
        <ion-badge class="badge-outline"><ion-icon color="primary" [name]="myBid.type"></ion-icon></ion-badge>
      </button>

      <!--Currently working-->
      <button text-wrap ion-item  *ngFor="let workingJob of workingList | async" (click)="presentWorkingModal(workingJob)">
        <ion-badge class="badge-success">On process</ion-badge>
        <h3> <b>{{ workingJob.title }}</b> </h3>
        <p>
          <!--Money-->
          <span *ngIf="workingJob.money; else noMoney"> {{ workingJob.money }}&euro; </span>
          <ng-template #noMoney><span ion-text>Budget is not specified</span></ng-template>
          <!--&bull;-->

          <!--Deadline-->
          <!--<span *ngIf="myJob.endDate; else noEndDate">Deadline: {{ formatDate(myJob.endDate) }}</span>-->
          <!--<ng-template #noEndDate><span ion-text>Deadline: Not specified</span></ng-template>-->
          <!--&bull;-->
        </p>
        <ion-badge class="badge-outline"><ion-icon color="primary" [name]="workingJob.type"></ion-icon></ion-badge>
      </button>
    </ion-list>
  </div>

  <!--<button ion-button block class="vertify-list" (click)="vertifylist()" >Verify Job</button>-->
  <div *ngFor="let completedList of completedList | async">

    <button text-wrap ion-item  (click)="presentverifyModal(completedList)">
      <div class="job-head" margin-bottom>
        <h2>Title: {{ completedList?.title}} </h2>

        </div>
        <ion-icon color="" float-right [name]="completedList.type"></ion-icon>
        <h6 class="description"> Paymet: <a class="money">{{ completedList?.payRequest}} &euro;</a> </h6>
        <h6 class="description"> Status: <a class="onprogress">{{ completedList?.status}}</a> </h6>
        <h6 class="description"> Position: <a class="provider">provider</a> </h6>

    </button>
  </div>
  <div *ngFor="let uncompletedList of uncompletedList | async">

    <button text-wrap ion-item >
      <div class="job-head" margin-bottom>
        <h2>Title: {{ completedList?.title}} </h2>

        </div>
        <ion-icon color="" float-right [name]="uncompletedList.type"></ion-icon>
        <h6 class="description"> Paymet: <a class="money">{{ uncompletedList?.payRequest}} &euro;</a> </h6>
        <h6 class="description"> Status: <a class="onprogress">{{ uncompletedList?.status}}</a> </h6>
        <h6 class="description"> Position: <a class="provider">provider</a> </h6>

    </button>
  </div>
</ion-content>
