<ion-header>

  <ion-navbar>
    <ion-title>My jobs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini color="primary" (click)="nagivateToCreateJob()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div *ngFor="let myjobList of myjobList | async">

    <button text-wrap ion-item  (click)="presentBidModal(myjobList)">
      <div class="job-head" margin-bottom>
        <h2> {{ myjobList?.title}} </h2>
        <p class="description"> {{ myjobList?.title}} </p>
      </div>
    </button>
  </div>
  <h2>Bidding List</h2>
  <div *ngFor="let mybidList of mybidList | async">

    <button text-wrap ion-item  >
      <div class="job-head" margin-bottom>
        <h2> {{ mybidList?.title}} </h2>
        <p class="description"> {{ mybidList?.title}} </p>
      </div>
    </button>
  </div>




</ion-content>
