page-ongoing-job {
  .job-info{

    padding: 5px 10px 5px 10px;
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
  }

  .middle{
    text-align: center;
  }

  .badge-success{
    background-color: #81c784;
  }
}
