<ion-header>
  <ion-navbar>
    <ion-title>Chats</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)=navigateToStartNewDialogue()>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <div class="no-dialogues">
      <div>
        <span color="light">You don't have any conversations yet.<br>Start a new conversation!</span>
      </div>
    </div>
    <div *ngFor="let chat of chatList | async; index as i">
      <ion-item *ngIf="userHasThisChat(chat)">
        <button text-wrap ion-item (click)="openChat(chat.id)">
          <div *ngFor="let user of userList | async">
            <div *ngIf="isThisUser(user)">
              {{showOtherUsersName(user)}}
            </div>
          </div>
        </button>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
