<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>New conversation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor="let user of userList | async; index as i">
      <button text-wrap ion-item (click)="openNewChat(user.id)">
        <span *ngIf="user.name; else noUserName">{{ user.name }}</span>
        <ng-template #noUserName><span ion-text color="light">No name</span></ng-template>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
